.SideSection {
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  transition: 0.2s;
  padding: 1rem;
  user-select: none;
}

.SideSection:hover,
.active {
  background-color: greenyellow;
}