@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --background-color: rgb(41, 41, 41);
  --text-color: white;
  font-family: "Varela Round", sans-serif;
}

a, a:hover, a:active, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

.App {
  position: relative;
}

.container {
  position: relative;
  height: 100%;
  max-width: 100vw;
}

.main {
  display: flex;
}

.bgImg {
  position: fixed;
  height: 100%;
  width: 100%;

  background-image: url("./img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;

  /* Filters */
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.Img {
  width: 100%;
  height: auto;
}
